$fontRegular: 'Biennale Regular';
$fontBold: 'Biennale Bold';
$fontLight: 'Biennale Light';

//$corPrimaria1: #3BD42D;
$corPrimaria: #5E49FF;
$corPrimaria3: #25CBD3;
$corPrimaria04: #F0F5FF;

$cinza: #F4F4F4;
$cinza1: #DADADA;
$cinza2: #7C7786;
$cinza3: #4D4C4D;
$cinza4: #333333;

$branco: #FFF;

$desktopBreakpoint: 992px;  //Linha de corte da versão mobile para desktop